.RegisterBox {
  margin-top: 2em;
  padding: 1em;
}

.RegisterInnerBox {
  margin: 0 auto;
  max-width: 1080px;
  padding: 1.5em 1.5em;
  background-color: #fff3cd;
  border-radius: 1em;
}

.RegisterBox .hidden {
  display:none
}

.RegisterBox .BoxBody {
  text-align: center;
}

.RegisterBox .RewardBox {
  padding-top: 2em;
}

.RegisterBox .ButtonBox {
  padding: 0px;
}

.RegisterBox .ButtonBox1 {
  margin-top: 1.5em;
  padding: 0;
}

.RegisterBox .Button {
  height: 70px;
  width: 100%;
}

.RegisterBox .headline {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-top: 4px;
}

.RegisterBox .NoticeText {
  margin-top: 10px;
  margin-bottom: 10px;
  color:black;
  font-size: 10px;
}

.RegisterBox .RewardText {
  margin-top: 10px;
  margin-bottom: 10px;
  color:black;
  font-size: 25px;
  font-weight: bold;
  }

.RegisterBox .RewardIcon {
  width:98px;
  height:98px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.RegisterBox .TitleIcon {
  width: 250px;
}

.RegisterBox .MobileCheckBox {
  text-align: left;
  padding: 5px 2px 0 0;
}

.RegisterBox .MobileBox {
  padding: 50px 0px 0px 0px;
}

.RegisterBox .DoneBox {
  text-align: center;
  padding: 5px 0px 0px 0px;
}

.ui.fluid.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}