.Footer {
    margin-top:1em;
}

.Footer .ContentBox {
    background-color: #EEE;
    text-align: center;
    padding: 2em;
    color:#AAA;
}

.CompanyName {
    margin:1.5em;
    font-size: 0.88em;
    color: #AAA;
}

.BizDesc {
    font-size: 0.88em;
    text-align:left;
}

.Footer .item:first {
    border-left:0;
}

.Footer .item:last {
    border-right:0;
}