body {
  text-align: center;
  background-color: #EBEBEB;
  color:#626262;
  padding:0;
  margin:0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .MenuBox {
  position:-webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  border-radius: 0%;
  margin-bottom: 0;
}

.App .seg {
  padding: 0;
}

.s-alert-box {
  z-index: 9999;
}

.ui.fluid.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}